<div class="container text-center">
    <div class="row" style="padding-bottom: 2%;">
        <hr class="no-line">
      </div>
    <div class="row">
      <div class="col">
        <img src="assets\Foto-equipo.jpeg" class="img-fluid redondear">
      </div>
      <div class="col">
        <div class="row">
            <div class="row">
                <h1>
                    Nuestro equipo
                </h1>
            </div>
            <div class="row">
                <h5>
                    El futuro de la construcción es verde
                </h5>
            </div>
            <div class="row">
                <h6>
                    Green Material es una empresa nueva en el mercado. A medida que nuestra oferta de materiales de construcción sostenibles y ecológicos ha ido 
                    ganando aceptación, hemos visto un incremento constante y sostenido en la demanda de nuestros 
                    productos. Este éxito inicial nos ha permitido consolidar nuestra posición en el mercado y 
                    continuar construyendo una base de clientes leales a lo largo del tiempo. La propuesta de valor de Green Material se basa en ofrecer materiales de construcción sostenibles 
                    y ecológicos a un precio razonable. Al utilizar materiales reciclables, la empresa reduce el impacto 
                    ambiental y promueve la sostenibilidad. Además, al ofrecer una alternativa más económica a los 
                    materiales de construcción tradicionales, la empresa puede atraer a clientes que buscan reducir 
                    los costos de construcción. La empresa también ofrece una plataforma en línea y aplicación que 
                    muestra todo el proceso de elaboración de los productos, lo que puede ayudar a los clientes a 
                    comprender mejor la calidad y el valor de los productos ofrecidos                </h6>
            </div>
        </div>        
      </div>
    </div>
    <div style="padding-top: 10%;">
        <img src="assets\hoja.png" style="width: 15%;">
    </div>
  </div>