<div class="text-center container-fluid altura-para-banner">
  <div class="row" style="padding-bottom: 2%;">
    <hr class="no-line">
  </div>
  <div class="titulo">
    <h3>Formulario de contacto</h3>
  </div>
  <div class="text-start row justify-content-center">
    <div class="col-md-6">
      <form>
        <div class="mb-4">
          <label class="form-label">Nombre <span class="required-field">*</span></label>
          <input class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-4">
          <label class="form-label">Apellido <span class="required-field">*</span></label>
          <input class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-4">
          <label class="form-label">Email <span class="required-field">*</span></label>
          <input class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-4">
          <label class="form-label">Mensaje <span class="required-field">*</span></label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" style="margin-left: 10px;" class="btn btn-secondary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="gris" style="border-top: groove 2px;">
  <hr style="border:none">
  <div class="container gris">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="\assets\icons8-phone-24.png" alt="Teléfono" width="40">
        <p>(+54) 11-789069874</p>
      </div>
      <div class="col-md-4">
        <img src="\assets\icons8-mail-24.png" alt="Correo Electrónico" width="40">
        <p>contacto@greenmaterial.com</p>
      </div>
      <div class="col-md-4">
        <img src="\assets\icons8-linkedin-24.png" alt="LinkedIn" width="40">
        <p>linkedin.com/greenMaterial</p>
      </div>
    </div>
  </div>
</div>
