<div class="fondo-blanco">
  <div class="container-fluid">
    <div class="row fondo-blanco" style="padding-bottom: 2%;">
      <hr class="no-line">
    </div>
  </div>
  <h1 class="page-title">El futuro de la construcción es verde</h1>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <!-- Contenido de la primera columna -->
          </div>
          <div class="col-md-4">
              <h3 class="epigrafe">Descubre el poder de la construcción sostenible y crea espacios ecoamigables con Green Material: Innovación ecológica para un futuro sostenible.</h3>
          </div>
          <div class="col-md-4">
              <!-- Contenido de la tercera columna -->
        </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- Contenido de la primera columna -->
        </div>
        <div class="col-md-2">
          <button class="btn btn-success custom-btn">
              <span class="font-weight-bold" style="font-family: 'Source Sans 3', sans-serif; font-size: 12px; color: white;" routerLink="/productos">OFERTAS</span>
          </button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-light custom-btn">
              <span class="font-weight-bold" style="font-family: 'Source Sans 3', sans-serif; font-size: 12px;" routerLink="/productos">TODOS LOS PRODUCTOS</span>
          </button>
        </div>
        <div class="col-md-4">
          <!-- Contenido de la tercera columna -->
        </div>
      </div>
  </div>
  <hr class="noline">
  <div class="mi-div"></div>
</div>

